/*--body {
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
}
 */

html {
    scroll-behavior: smooth;
}

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    overflow-x:hidden;
}

img.responsive {
    max-width: 100%;
    height: auto;
}

i.pf {
    font-size: 48px;
}

section {
    padding-bottom: 100px;
}

.card.h-fixed {
    height: 200px;
}

/**************************************************************************************
*   BUTTON STYLING
***************************************************************************************/
a {
    color: rgba(73, 180, 203, 1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: rgba(3, 57, 108, 1);
    outline: none;
}

.btn.btn-primary {
    background: #52d3aa;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    box-shadow: none;
    background: #52d3aa;
}

.btn:hover, .btn:active, .btn:focus {
    background: #393e46 !important;
    color: #fff;
    outline: none !important;
}

.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent;
}

.btn.btn-ghost {
    background: transparent;
    color: rgb(255,255,255);
    border: 1px solid white !important;
}

.btn.btn-ghost:hover, .btn.btn-ghost:active, .btn.btn-ghost:focus {
    box-shadow: none;
    background: rgb(255,255,255) !important;
    border: 1px solid transparent !important;
    color: #52d3aa
}

/**************************************************************************************
*   FONT AND HEADER STYLING
***************************************************************************************/
.text-muted{
    color:#cccccc!important;
}

.section-heading {    
    width: 100%;
    clear: both;
}

h2.section-heading {
    font-size: 50px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 15px;
    padding-top: 70px;
    line-height: 1.5;
}

h2.section-heading.left-border:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 0%;
    margin-left: 0px;
    bottom: 0;
}

h2.section-heading:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
}

h5 {
    font-weight: 300;
}

/**************************************************************************************
*   NAVBAR STYLING
***************************************************************************************/
div.navbar {
    margin-bottom: -70px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

div.navbar a {
    color: rgba(255, 255, 255, 0.8);
}

div.navbar.dark a {
    color: rgba(3, 57, 108, 1);
}

.nav-link {
    font-size: 1.25rem;
}

div.logo-sm{
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -25px;
}

@media screen and (max-width: 768px) {
    .nav {
        display: block;
    }

    ul.nav {
        background-color: white !important;
    }

    div.navbar {
        position: absolute;
    }

    div.navbar a {
        color: rgba(3, 57, 108, 1);
    }

    #navLinks.show{
        box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
    }

}
@media screen and (min-width: 768px) {
    div.navbar:after {
        content: "";
        position: absolute;
        display: block;
        width: 300px;
        height: 2px;
        background: rgba(255, 255, 255, 0.5);
        left: 50%;
        margin-left: -150px;
        bottom: 0;
    }

    div.navbar.dark::after{
        background:  rgba(3, 57, 108, 1);
    }

    div.logo-sm{
        margin-left:-300px
    }
}



@media screen and (min-width: 768px) {
}

div.navbar.dark .navbar-toggler{
    color:rgba(3, 57, 108, 1)!important;
}

.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus {
    border-color: transparent !important;
    border:none !important;    
}

button.navbar-toggler:focus{
    outline: 0px;
}

/* NAV HIGHLIGHTS - https://tympanus.net/Development/CreativeLinkEffects/ */

.navbar a:hover,
.navbar a:focus {
    color: rgb(23,89,184);
}


/*****************************************************************************************
    BLUE BACKGROUNDS 
********************************************************************************************/

.bg-blue1 {
    background-color: #011f4b;
}

.bg-blue2 {
    background-color: #03396c;
}

.bg-blue3 {
    background-color: #005b96;
}

.bg-blue4 {
    background-color: #6497b1;
}

.bg-blue5 {
    background-color: #b3cde0;
}
.bg-gradient{
    background: repeating-linear-gradient(to bottom right, rgba(63, 149, 234, 0.7) 0%, rgba(82, 211, 170,0.7) 100%);
}

/*****************************************************************************************
    WHITE BACKGROUND WITH DIFFERENT OPACITY LEVELS
********************************************************************************************/
.bg-white100 {
    background-color: rgba(255, 255,255, 0.95);
}


.bg-white75 {
    background-color: rgba(255, 255,255, 0.75);
}

.bg-white50 {
    background-color: rgba(255, 255,255, 0.5);
}


.bg-white25 {
    background-color: rgba(255, 255,255, 0.25);
}

.bg-white10 {
    background-color: rgba(255, 255,255, 0.1);
}

.bg-white0 {
    background-color: rgba(255, 255,255, 0.0);
}

/*****************************************************************************************
    ADDITIONAL ANIMATION STYLING
********************************************************************************************/
/* start animations hidden */
.to-animate
{
    opacity: 0;
}

.text-hightlight {
    color: #52d3aa;
}

/*****************************************************************************************
    ADDITIONAL ANIMATION STYLING
********************************************************************************************/
.clip-bottom-slope {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0% 100%);
}
.clip-top-slope {
    -webkit-clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0% 100%);
}
.clip-both-slope {
    -webkit-clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0% 100%);
    clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0% 100%);
}

.pull-up {
    margin-top:-3vw;
}

/*****************************************************************************************
*    HOME SECTION STYLING
********************************************************************************************/
div.logo-sm img{
    height: 50px;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    padding: 5px;
    margin-top: 10px;
    z-index: 0;
    opacity: 0.75;
}

img.logo{
    
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    img.logo{
        padding-top:50px;
        max-width: 90%;
    }
}

section#home {
    background: repeating-linear-gradient(to bottom right, rgba(63, 149, 234, 0.7) 0%, rgba(82, 211, 170,0.7) 100%), url('../images/banner_full.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

section#home .container {
    height: calc(100vh + 3vw);
    padding-top: -3vw;
}

section#home .text-wrap {
    z-index: 4;
    text-align: center;
    margin-top:-3vw;
}

section#home h1 {
    font-size: 5rem;
    line-height: 0.8;
    padding-bottom: 50px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 768px) {
    section#home h1 {
        font-size: 2rem;
    }
}

.text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/**/
#callouts {
    margin-top: -100px;
}

@media only screen and (min-width: 768px) {
    #callouts .row {
        padding-left: 100px;
        padding-right: 100px;
    }

    div.navbar:after {
        content: "";
        position: absolute;
        display: block;
        width: 200px;
        height: 2px;
        background: rgba(255, 255, 255, 0.5);
        left: 50%;
        margin-left: -100px;
        bottom: 0;
    }
}
/**********************************************************************************************
*   SERVICES - SECTION STYLING
***********************************************************************************************/
section#services {
    background: repeating-linear-gradient(to bottom right, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255,0.90) 100%), url('../images/cherry-blossoms.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 115px;
}
section#services div.container
{
    padding-top: 80px;
}

#services ul {
    padding-top: 2rem;
    font-size: 1.25rem;
}

#services {
    padding-bottom:100px;
}

#services .card-header {
    background-color: rgba(255,255,255,.05);
    border-bottom-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,1);
    font-size: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#services .card-body {
    padding: 0.5rem;
}

#services .card-body sup {
    font-size: 60%;
}

#services div.service-list ul {
    padding-top: 0;
}

/**********************************************************************************************
*   BIO - SECTION STYLING
***********************************************************************************************/

#bio {
    position: relative;
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.8);
    background-color: #52d3aa;
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
}

#bio h2.section-heading {
    color: #fff;
}

#bio h2.section-heading:after {
    background: rgba(255, 255, 255, 0.3);
}

#bio h2.staff-name {
    padding-top: 3rem;
}

#bio span.staff-designation {
    font-size: 2rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
}

img.circle-portrait{
    border-radius: 50%;
    max-width: 75%;
    box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.5)  ; 
}

/**********************************************************************************************
*   CONTACT US - SECTION STYLING
***********************************************************************************************/

#contactus {
    font-size: 1.25rem;
    background: repeating-linear-gradient(to bottom right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255,1) 100%), url('../images/treatment_room.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contactus div#contactinfo i {
    color: rgba(73, 180, 203, 1);
    padding-right:.5rem;
}

#contactus div#contactinfo td {
    vertical-align:text-top;
}

#contactus div#contactinfo a {
    font-weight:500;
}

#contactus td.day-of-week {
    padding-right: 1rem;
    color: #a4a4a4;
    font-weight: 500;
}


/**********************************************************************************************
*   CORONA VIRUS - SECTION STYLING
***********************************************************************************************/
section#covid-19{
    height: 100vh;
    background: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%), url('../images/bg-cv-19-sm.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top:-100px;
    padding-top:100px
}

section#covid-19 .card{
    background-color: rgba(255,255,255,0.8);
}

section#covid-19 .card-body{
    font-size: 1.25em;;
}